h1 {font-size: 22px;
color: #ff00ff;
font-family: "Snap ITC";}


h2 {font-size: 20px;
color: #7700ff;
font-family: "Times New Roman";}

h3 {font-size: 18px;
color: White;
font-family: Garamond;}

h4 {font-size: 18px;
color:  White;
font-family: "Comic Sans MS";}

.color:{font-size: 18px;
color: White;}