.zoneTable69 {
    height : 600px;
    width : 300px;
    overflow:hidden;
    border-top: 1px solid #cccccc;
    border-bottom : 1px solid #cccccc;
    background-color: white;
}

.zoneSponsoredText69 {
    padding-right:5px;
    vertical-align: middle;
    color:#AAAAAA;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    height:13px;
}

.addYourLink:link,
.addYourLink:visited,
.addYourLink:hover, 
.addYourLink {
    color:#fa6e0e;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    height:15px;
}